<main>
  <app-layout>
    <h1>Заметки</h1>

    <ul class="notes" *ngIf="!isNotesListEmpty(); else emptyListBlock">
      <li *ngFor="let note of notes; index as index">
        <app-note [title]="note" [index]="index" (deleteEvent)="deleteNote($event)"/>
      </li>
    </ul>

    <ng-template #emptyListBlock >
      <div class="empty-message" *ngIf="!isCreationFieldOpened">Заметки отсутствуют</div>
    </ng-template>

    <app-create-note *ngIf="isCreationFieldOpened" (confirmationEvent)="addNote($event)" (closingEvent)="closeField()"/>
    <button (click)="toggleCreationField()" [disabled]="isCreationFieldOpened">Добавить заметку</button>
  </app-layout>
</main>
